* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    color: white;
    height: 3.5rem;
    padding-left: 3rem;
    font-size: 90%;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

img {
    border-radius: 0.5em 0.5em 0 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.producto {
    display: flex;
    background: white;
    text-align: center;
    border-radius: 0.5em;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
}

.btnProductos {
    height: 2em;
    width: 50%;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
    height: 2em;
    width: 50%;
    font-weight: 600;
}